*.suo
packages/
Sunctum/bin/
Sunctum/obj/
Sunctum.Infrastructure/bin/
Sunctum.Infrastructure/obj/
Sunctum.Domain/obj/
Sunctum.Domain/bin/
Sunctum.Infrastructure.Test/obj/
Sunctum.Infrastructure.Test/bin/
Sunctum.Domain.Test/bin/
Sunctum.Domain.Test/obj/
PickoutCover/bin/
PickoutCover/obj/
Sunctum.Plugin/bin/
Sunctum.Plugin/obj/
DebugTools/bin/
DebugTools/obj/
Sunctum.UI/bin/
Sunctum.UI/obj/
Sunctum.UI.Test/bin/
Sunctum.UI.Test/obj/
simpleqb.Test/obj/
simpleqb/bin/
simpleqb/obj/
simpleqb.Test/bin/
simpleqb.SQLite/obj/
simpleqb.SQLite/bin/
.vs/
FolderFilesImporter/bin/
FolderFilesImporter/obj/
Homura.Test/bin/
Homura/bin/
Homura/obj/
Homura.Test/obj/
gitversion.json
